.file {
  width: 150px;
  height: 150px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img {
  height: 100px;
  width: 100px;
}

.btns {
  display: none;
}

.file:hover .btns {
  display: flex;
}

.name {
}
.btn {
}
.download {
}
.delete {
}
