.filelist {
  margin: 20px 0;
  margin-right: 20px;
}

.header {
  display: grid;
  grid-template-columns: 1fr 4fr repeat(4, 1fr);
}

.name {
  grid-column-start: 2;
}

.date {
  grid-column-start: 5;
  justify-self: center;
}

.size {
  grid-column-start: 6;
  justify-self: center;
}

.emtydir {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
}

.filePlate
{
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 ;
}

