.panel {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 345px;
  width: 507px;
  left: 451px;
  top: 286px;
  border-radius: 27px;
  filter: drop-shadow(4px 4px 4px rgba(92, 92, 92, 0.25));
  justify-content: space-between;
  color: #566885;
  padding: 0 40px;
}

.header {
  margin-top: 25px;
  align-self: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
}

.button {
  padding: 0;
  border: none;
  font: inherit;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  padding: 2px 30px 4px 25px;
  color: #ffffff;
  cursor: pointer;
  align-self: flex-end;
  background: #566885;
  border-radius: 12px;
  margin-right: 30px;
  margin-bottom: 25px;
}

.body {
  margin: 236px;
  display: flex;
  justify-content: center;
  align-items: center;
}
