:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.input {
  font-family: "Roboto";
  font-style: normal;
  font-size: 18px;
  width: 100%;
  background: transparent;
  border: none;
  padding-bottom: 5px;
  border-bottom: solid #566885 3px;
  color: #566885;
}

.input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  color: #5668855e;
}
